@charset "UTF-8";
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*=========== Global Styles =========== */
/*Body */
body {
  line-height: 1.4;
}

/*All links */
a {
  text-decoration: none;
  color: #cf0b0b;
  margin: 0.5em 0;
}

a:hover {
  border-bottom: #4da2a7;
}

/*Typography */
h1,
h2,
h3,
h4,
h5,
p,
ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Limelight", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3.5em;
  padding-bottom: 0.5em;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1.8em;
  padding-bottom: 0.5em;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1.2em;
  padding-bottom: 0.5em;
  text-align: center;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1em;
  margin: 0.5em 0;
  text-align: center;
  border-bottom: 2px solid #4da2a7;
  box-shadow: 0px 2px 1px 1px #c9c8c86e;
}

p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.5em;
}

/*Link at top of page*/
body>a.skip-link {
  position: absolute;
  padding: 0.5em 0.5em;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  box-shadow: 1px 5px 9px -2px #00635e8f;
  top: 0;
  left: 0;
}

/*=========== Header ===========*/
header {
  display: grid;
  min-height: 25vh;
}

/*Header Container */
header>div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #01595538;
  padding: 2em;
}

/*Star Icon (SVG) */
svg {
  width: 1em;
  height: auto;
  display: block;
  justify-self: center;
}

/* GitHub Link */
header a.link-github {
  background-color:  #e8fcff75;
  border-radius: 50%;
  padding: 2.5em 1em;
  box-shadow: -2px 3px 6px 3px #71a6ac6b inset;
}

/*=========== Navigation Bar ===========*/

nav ul {
  border-top: 0.25em solid #f5e2d7;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  background-color: rgb(238, 247, 247);
  padding: 0;
  margin: 0;
  box-shadow: 0px 6px 4px 1px #b4bdc291;
}

nav ul li {
  margin: 0.25rem;
}

nav ul li a {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1em;
}
nav ul li a:hover {
  background-color:#4da2a7;
}

/*=========== Content ===========*/

div.container article {
  display: flex;
  flex-direction: row;
}

article section,
body aside,
footer.page-footer {
  padding: 1rem 2rem;
}

/*About Section */
article#about section {
  flex: 1;
}

article#about section:last-child ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

article#about section:last-child ul li {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #edcab68c;
}

/*Guidelines Section */
#guidelines {
  background-color: #01595518;
}

#guidelines>section {
  padding: 1em 6em;
}

/*Contribute Section */
article#contribute {
  display: flex;
  flex-direction: column;
}

#contribute>section:nth-child(2) {
  background-color: #e9efef;
}

#contribute>section:nth-child(2)>ol {
  display: grid;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1.5em;
  list-style-type: none;
  counter-reset: myCounter;
}

#contribute>section:nth-child(2)>ol li::marker {
  content: counter(myCounter);
  font-size: 2em;
}

#contribute>section:nth-child(2)>ol li {
  grid-row: 1;
  counter-increment: myCounter;
  padding-left: 1em;
}

#files .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#files h3 {
  grid-row: 1;
  grid-column: span 3;
  align-self: center;
  justify-self: center;
}

#files a {
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

/*=========== Aside ===========*/
aside>div>ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 1em;
}

aside>div>ul>li {
  padding: 0 1rem;
  border-left: 2px solid black;
}

body>aside.profile>div>ul,
.features {
  margin-bottom: 1em;
}

/*=========== Footer ===========*/

footer.page-footer {
  text-align: center;
  font-size: 0.5rem;
  background-color: black;
  color: white;
}

footer>div>ul {
  list-style-type: none;
}

footer.page-footer a {
  text-decoration: none;
  color: white;
}

footer.page-footer a:hover {
  border-bottom: 2px dashed yellow;
}

/*=========== Media Query for Phones up to 425px wide  ===========*/
@media (max-width: 425px) {
  body>a {
    display: none;
  }
  header>div.container {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    align-items: center;
  }

  header a.link-github {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    border-radius: 0.5em;
    padding: 1em;
  }

  nav ul {
    flex-wrap: wrap;
  }

  nav ul li {
    margin: 0.5em 0;
  }

  div.container article {
    flex-direction: column;
  }

  #guidelines>section {
    padding: 0.5em;
  }

  #contribute>section:nth-child(2)>ol {
    display: grid;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1.5em;
    list-style-type: none;
  }

  #contribute>section:nth-child(2)>ol li {
    grid-row: auto;
  }

  h2 {
    font-size: 1.5em;
  }
}

/*
References
  https://developer.mozilla.org/en-US/docs/Web/CSS/@media
  https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  https://css-tricks.com/snippets/css/complete-guide-grid/
  https://fonts.google.com/
*/